* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;

}

/* ------------------------- HEADER ------------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header_menu {
    margin: 13px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_eng {
    cursor: pointer;
    margin-right: 50px;
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px; 
    line-height: 18px; 
    letter-spacing: 0.04em;
    text-decoration: none;
}

.menu_text {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size:  22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
}


.heading {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading_text {
    font-family: Roboto;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 3px;
}

.heading_line {
    Width: 100px;
    Height: 8px;
    Top: 20px;
    background: #000000;
}


.main_grey {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.facebook_grey {
    background-image: url(../img/facebook_grey.png);
    background-repeat: no-repeat;
}
.facebook_grey:hover {
    background-image: url(../img/facebook_hover.png);
    background-repeat: no-repeat;
}


.instagram_grey {
    background-image: url(../img/instagram_grey.png);
    background-repeat: no-repeat;
}
.instagram_grey:hover {
    background-image: url(../img/instagram_hover.png);
    background-repeat: no-repeat;
}