* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--base-font: 16px;
--base-color: #16133D;

--one:#E1F4F5;
--two:#F4FEFF;
--three:#CAEFF2;
--four:#52C29D;

}

.container {
  max-width: 1170px;
  margin: 0 auto;
}


/* ------------------- HEADER ------------------- */


.header {
  background-color: #fff;
  border-bottom: 1px solid #EFEEF3;
  padding: 1.375rem 0;  /* 22px */
}

.logo {
  width: 200px;
}
.logo_znak {
  fill: #16133D;
}
.logo_text {
  fill: none;
  stroke: #3CB270;
  stroke-width: 1px;
}


/* ------------------- CONTENT ------------------- */


.content {
  margin: 100px 0 100px 0;
}

.content__card {
  padding: 40px;
  width: 370px;
  background: #FFFFFF;
  border: 1px solid #E5EAF4;
  border-radius: 8px;
  cursor: pointer;
}

.content__card:hover{
  border: 1px solid #52C29D;
}


.content__card:hover .color_one {
  fill: var(--one);
}

.content__card:hover .color_two {
  fill: var(--two);
}

.content__card:hover .color_three {
  fill: var(--three);
}

.content__card:hover .color_four {
  fill: var(--four);
}

.content__card-icon:hover {
  border: 1px solid rgba(61, 179, 112, 0.1);

}

.content_text {
  margin: 30px 0;
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: var(--base-color);
  margin-bottom: 15px;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--base-color);
 
}

a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #3DB370;
  text-decoration: none;
}

.container__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7690A8;
}

.content_title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: var(--base-color);
}

.block-grid {
  display: grid;
}

.block-grid__teemplate-3col {
  grid-template-columns:  repeat(3, 1fr);
  gap: 1.875rem; /* 30px */
}


.content__card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0.5px;
  border: 1px solid rgba(21, 101, 216, 0.1);
  border-radius: 16px;
  margin-bottom: 30px;
}

.icon {
  height: 36px;
}

/* ------------------- FOOTER ------------------- */

.footer {
  background-color: var(--base-color);
  padding:  2.5rem 0; /* 40px */
}

.footer__logo {
  margin-bottom: 40px;
}

.logo_znak_footer {
  fill: #fff;
}


/* ikonki v stroku
 */.footer__social-media {
  display: flex;
  gap: 10px;
}

.footer__social-media-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: #EFEEF3;
  border-radius: 5px;
  transition: .3s ease;
}

.footer__social-media-item:hover .icon_green {
  fill: #3DB370;
}

.footer_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
