.header {
    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
    color: $white;
    height: 100vh; 


    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 53px;
    }
}

.wrapper {
    background-image: url("../img/MaskGroup.png");
    background-repeat: no-repeat;
    height: 100vh; 
}

span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.3em;
}

.about {
    padding: 53px, 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;

    &__item {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $white;
        cursor: pointer;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            border: 1px solid $primary-color-white;
            border-radius: 50%;
            top: calc(50% - 4.5px);
            left: calc(-14px - 4.5px);
        }
    }
}

.social-link {
    display: flex;
}

.navigation {
    width: 900px;
}

.heading {
    text-align: center;
}

.social-link > * {
    margin: 0 10px;
}

