* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .1s ease-in;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

header {
  width: 1200px;
  margin: 0 auto;
}

.content {
margin: 0 auto;
display: inline-block;
margin-bottom: 70px;
width: 100%;
text-align: center;
padding: 17px 0;
}

.logo { 
  display: inline-block;
}

.logo img {
  vertical-align: middle;
  margin-right: 187px;
}

.header_nav {
  display: inline-block;
  vertical-align: middle;
  margin-right: 187px;
}


.menu-item {
  display: inline-block;
  margin-right: 20px;
}

.menu-item:last-child {
  margin-right: 0;
}

a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #2F281E;
  text-decoration: none;
}

.header_nav *:hover {
  color: #FF9900;
}

.buttons {
  vertical-align: middle;
  display: inline-block;
}

.button_header:last-child {
  margin-left: 32px;
  padding: 13px 20.5px;

}

.button_header {
  font-size: 16px;
  line-height: 20px;
  padding: 13px 25px;
  border-radius: 4px;
  border: none;
  background-color: #FF9900;
  color: #FFFFFF;
  font-weight: 600;
}


.button_header:hover {
  background-color: #FFFFFF;
  color: #2F281E;
  border: 1px solid #BCD0E5;
}



.first_screen {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.title_first_screen {
  max-width: 500px;
  display: inline-block;
  vertical-align: middle;
  justify-content: space-between;
  margin-right: 56px
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
  margin: 0 auto;
  margin-bottom: 30px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  margin-bottom: 20px;
}

.button_first_screen {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 44px;
  border-radius: 4px;
  border: none;
  background-color: #FF9900;
  color: #FFFFFF;
}

.button_first_screen:hover {
  background-color: #FFFFFF;
  color: #2F281E;
  border: 1px solid #BCD0E5;
}

.img_first_screen {
  width: 644px;
  vertical-align: middle;
}

