.news {
    background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
    color: $white;
    height: 980px; 

    &__wrapper {
        background-image: url("../img/news_background.png");
        background-position: center bottom;
        position: relative;
        background-repeat: no-repeat;
        min-height: 100%;  
    }

    .line {
        border-bottom: 1px solid $white;
        padding-top: 120px;
    }

    &__title {
        text-align: center;
        color: $white;
        padding-top: 30px;
    }
}

.slider {
    display: flex;
    gap: 30px;
    min-width: 0;
    position: relative;
    padding-top: 90px;
}

.slide {
    background-color: $white;
    width: 370px;
    height: 514px;

    &__img {
        width: 370px;
        height: 240px;
    }

    &__block {
        margin: 25px 20px 30px;

    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: $dark-grey;
    }

    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $dark-grey;
        margin-top: 15px;
    }

    &__author {
        display: flex;
        align-items: end;
        gap: 20px;
        margin-top: 39px;
    }

    &__avatar {
        border-radius: 45px;
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $dark-grey;
    }

    &__date {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $blue;
    }
}



