.header {
    background-image: url("../img/MaskGroup.png");
    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
    color: $white;

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 53px;
    }
}

span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.3em;
}

.about {
    padding: 53px, 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


