.projects {
    overflow: hidden;
    padding: 100px 0 140px;

    .wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
}

.line {
    border-bottom: 1px solid $dark-grey;
    width: 100px;
    margin: 0 auto;
}

.title-center {
    color: $dark-grey;
    text-align: center;
    margin-top: 30px;
}

.project {

    &__section {
        width: 100%;
        display: grid;
        align-items: flex-end;
        gap: 70px;
    }

    &__content{
        max-width: 490px;
    }

    &__subtitle{
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: $dark-grey;
    }

    &__title {
        color: $dark-grey;

    }

    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $dark-grey;
        margin-top: 19px;
    }
}




.project1 {
    display: flex;
    align-items: center;
    margin-top: 147px;
}

.project1__img {
    box-shadow: -260px -70px $blue;
}

.project2 {
    display: flex;
    align-items: center;
    padding: 100px 0 120px 0;
}

.project2__img {
    box-shadow: 260px -70px $fiolet;
}

.buttons {
    margin: 40px 0 60px 0;

    &__btn {
        width: 190px;
        height: 50px;
        background: transparent;
        border: 1px solid $dark-grey;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            background: $dark-grey;
            color: $white;
            border: transparent;
            transition: all 0.3s ease;
        }
    }
}

.location {

    &__content {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: $black;
    }
}


/* .project1__img {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translate(-260px,-70px);
        background-color: $blue;
        z-index: -100;
    }
} */

/* .project2__img {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translate(260px,-70px);
        background-color: $fiolet;
        z-index: -100;
    }
} */




