.main {
    @include container;
}

.first-section {
    position: relative;
    display: flex;
    padding: 100px 0;

    &__content {
        z-index: 3;
    }

    &__title {
        max-width: 600px;
        @include fonts($font_family_title, 80px, 700, 88px);
        color: $violet-dark;
    }

    &__text {
        max-width: 370px;
        margin: 50px 0;
        @include fonts($font_family_body, 18px, 500, 29px);
        color: $gray-dark;
    }

    &__foto {
       @include width-height(700px, 400px);
       @include posn-top_rt(absolute, 160px, 75px, 2);
    }

}

.second-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 70px;
    border-radius: 50px;
    background: $pink-medium;
    margin-bottom: 120px;

    &__content {
        max-width: 500px;
    }

    &__title {
        margin-bottom: 40px;
        @include fonts($font_family_title, 40px, 700, 52px);
        color: $violet-dark;
    }

    &__text {
        @include fonts($font_family_body, 18px, 500, 29px);
        color: $gray-dark;
        
    }

}

.third-section {


    &__content {
        margin-bottom: 50px;
        text-align: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 50px;
        @include fonts($font_family_title, 40px, 700, 52px);
        color: $violet-dark;
    }

    &__text {
        max-width: 638px;
        margin: 0 auto;
        @include fonts($font_family_body, 18px, 500, 29px);
        color: $gray-dark;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-items: end;
        grid-gap: 50px 80px;
    }
}










.four-section {
    display: block;
    background: $blue-medium;
    border-radius: 50px;
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: url(../img/bg-testimonials.svg);
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 80px;
        gap: 100px;
    }

}

.four-section__title {
    padding: 80px 0;
    text-align: center;
    @include fonts($font_family_title, 40px, 700, 52px);
    color: $gray-dark;

}

.four-section__card {
    max-width: 465px;
    height: 300px;
    display: flex;
    border: 1px solid $violet;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgb(75 93 104 / 10%);
    background: $white;

}

.card {

    &__foto {
    display: block;
    margin-top: 50px;
    background: $white;
    border-radius: 50px;
    text-align: center;
    padding-left: 30px;
    }

    &__img {
        border-radius: 45px;

    }

}

.four-section-card_info{
    padding: 50px 0 50px 15px;
}

.card_info__name {
    font-size: 16px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: $violet-dark; 
}

.card_info__link {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    display: flex;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: $violet;
}

.card_info__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $gray-dark;
}




