.menu {
    &__item {
        display: inline-block;
        list-style: none;
    }

    &__list {
        display: flex;
        gap: 40px;
    }

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $gray-dark;
        text-decoration: none;
        transition: color .3s ease;
    }

        &__link:hover {
            color: $violet-middle;
        }
}
