$white: #ffffff;
$violet: #9C69E2;
$violet-middle: #8A40EE;
$violet-dark: #212353;
$gray-dark: #4B5D68;
$pink: #F063B8;
$pink-middle: #EB4BAB;
$pink-medium: #FDE8F5;
$blue-medium: #CCDDFF;


$font_family_body: 'Montserrat', sans-serif;
$font_size_body: 16px;
$font_family_title: 'Work Sans', sans-serif;
