*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .header,
.main,
.footer {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (max-width: 992px) {
  .header,
.main,
.footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header,
.main,
.footer {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .header,
.main,
.footer {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 20px 0;
  z-index: 99;
}
.header__container {
  max-width: 1170px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.header__logo {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 120px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    gap: 70px;
  }
}
.header__svg {
  max-height: 36px;
}

.menu__item {
  display: inline-block;
  list-style: none;
}
.menu__list {
  display: flex;
  gap: 40px;
}
.menu__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #4B5D68;
  text-decoration: none;
  transition: color 0.3s ease;
}
.menu__link:hover {
  color: #8A40EE;
}

.main {
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .main {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (max-width: 992px) {
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .main {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.first-section {
  position: relative;
  display: flex;
  padding: 100px 0;
}
@media screen and (max-width: 1200px) {
  .first-section {
    padding: 80px 0;
  }
}
@media screen and (max-width: 992px) {
  .first-section {
    padding: 40px 0;
  }
}
@media screen and (max-width: 768px) {
  .first-section {
    padding: 25px 0;
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }
}
.first-section__content {
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .first-section__content {
    text-align: center;
  }
}
.first-section__title {
  max-width: 600px;
  font-family: "Work Sans", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  color: #212353;
}
@media screen and (max-width: 992px) {
  .first-section__title {
    font-size: 50px;
    text-align: center;
    max-width: 992px;
    margin: auto;
  }
}
.first-section__text {
  max-width: 370px;
  margin: 50px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  color: #4B5D68;
}
@media screen and (max-width: 992px) {
  .first-section__text {
    max-width: 992px;
    text-align: center;
    margin: 15px auto;
    padding: 0 20px;
  }
}
.first-section__foto {
  width: 700px;
  height: 400px;
  position: absolute;
  top: 160px;
  right: 75px;
  z-index: 2;
}
@media screen and (max-width: 992px) {
  .first-section__foto {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .first-section__foto {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .first-section__ button {
    width: 400px;
    height: 210px;
  }
}

.second-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 75px 70px;
  border-radius: 50px;
  background: #FDE8F5;
  margin-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .second-section {
    align-items: center;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 992px) {
  .second-section {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    align-items: center;
    margin-bottom: 40px;
  }
}
.second-section__content {
  max-width: 500px;
}
.second-section__title {
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 40px;
  color: #212353;
}
@media screen and (max-width: 992px) {
  .second-section__title {
    text-align: center;
  }
}
.second-section__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  color: #4B5D68;
}
@media screen and (max-width: 992px) {
  .second-section__text {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .second-section__foto-img {
    width: 100%;
  }
}

.third-section__title {
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-bottom: 50px;
  color: #212353;
}
@media screen and (max-width: 1200px) {
  .third-section__title {
    margin-bottom: 21px;
  }
}
.third-section__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  max-width: 640px;
  text-align: center;
  margin: 0 auto 80px auto;
  color: #4B5D68;
}
@media screen and (max-width: 1200px) {
  .third-section__text {
    margin: 0 auto 40px auto;
  }
}

.third-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 80px;
}
@media screen and (max-width: 1200px) {
  .third-section-container {
    grid-gap: 50px 80px;
  }
}
@media screen and (max-width: 992px) {
  .third-section-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px 40px;
  }
}

.cards {
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 1;
  border-radius: 50px;
  margin-left: auto;
}
@media screen and (max-width: 1180px) {
  .cards {
    margin: 0 auto;
  }
}
.cards_first {
  background: #F0FAF9;
}
.cards::before {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: -1;
  content: url(../img/bg-search.svg);
}
.cards_second {
  background: #F6F0FD;
}
.cards_second::before {
  position: absolute;
  top: 225px;
  right: 20px;
  z-index: -1;
  content: url(../img/bg-24hour..svg);
}
.cards_third {
  background: #FEF0F8;
}
.cards_third::before {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
  content: url(../img/bg-print.svg);
}
.cards_four {
  background: #EAF6FC;
}
.cards_four::before {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: -1;
  content: url(../img/bg-security.svg);
}
.cards__images {
  position: absolute;
  top: 100px;
  left: -140px;
}
@media screen and (max-width: 1180px) {
  .cards__images {
    display: none;
  }
}
.cards__content {
  max-width: 330px;
  height: 280px;
  padding: 50px 0 0 100px;
}
.cards__title {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin: 0;
  color: #212353;
}
.cards__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 30px 0 0 0;
  color: #4B5D68;
}
.cards__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  position: relative;
  top: 30px;
  left: 100px;
  color: #212353;
}

.four-section {
  position: relative;
  display: block;
  border-radius: 50px;
  z-index: 1;
  margin-top: 120px;
  background: #CCDDFF;
}
@media screen and (max-width: 1200px) {
  .four-section {
    margin-top: 70px;
  }
}
.four-section::before {
  position: absolute;
  content: url(../img/bg-testimonials_1.png);
  top: 0;
  left: 0;
  z-index: -1;
}
.four-section::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  content: url(../img/bg-testimonials_2.png);
}
.four-section__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
  gap: 100px;
}

.four-section__title {
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  padding: 80px 0;
  color: #4B5D68;
}
@media screen and (max-width: 992px) {
  .four-section__title {
    padding: 40px 0;
    font-size: 50px;
  }
}

.four-section__card {
  max-width: 465px;
  height: 300px;
  display: flex;
  border: 1px solid #9C69E2;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  background: #ffffff;
}

.card__foto {
  display: block;
  text-align: center;
  margin-top: 50px;
  border-radius: 50px;
  padding-left: 30px;
  background: #ffffff;
}
.card__img {
  border-radius: 45px;
}

.four-section-card_info {
  padding: 50px 0 50px 15px;
}

.card_info__name {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #212353;
}

.card_info__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 20px;
  display: flex;
  text-decoration: none;
  color: #9C69E2;
}

.card_info__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #4B5D68;
}

.button {
  width: 210px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #212353;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button:hover {
  background-color: #9C69E2;
  color: #ffffff;
}
.button:hover path {
  stroke: #ffffff;
}

.arrow {
  padding-left: 10px;
}

.first-section__button {
  color: #ffffff;
  background-color: #9C69E2;
  border: 1px solid #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
.first-section__button:hover {
  background-color: #8A40EE;
}

.footer-button {
  display: flex;
  gap: 30px;
}

.footer__button_btn {
  color: #ffffff;
  background: #F063B8;
  border: 1px solid #F063B8;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  gap: 30px;
}
.footer__button_btn:hover {
  background: #EB4BAB;
  border: 1px solid #EB4BAB;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.footer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 120px 0;
}
@media screen and (max-width: 1200px) {
  .footer {
    margin-left: 35px;
    margin-right: 35px;
    padding: 80px 0;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .footer__data {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .footer__footer-copyright {
    text-align: center;
  }
}

.footer-first-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer-first-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
  }
}

.footer-first-content__title {
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #212353;
}
.footer-first-content__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  color: #4B5D68;
  margin: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 70px 0;
}
@media screen and (max-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
}

.footer-data__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #212353;
}
.footer-data__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  color: #212353;
}
.footer-data__mail-tel {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  text-decoration: none;
  margin: 10px 0 0 0;
  color: #212353;
}
@media screen and (max-width: 768px) {
  .footer-data__mail-tel {
    margin: 5px 0 0 0;
  }
}

.footer-nav__menu {
  display: contents;
}
@media screen and (max-width: 768px) {
  .footer-nav__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
.footer-nav__about {
  margin: 8px 0 0 0;
}
.footer-nav__help {
  margin: 8px 0 0 0;
}
.footer-nav__social-media {
  margin: 8px 0 0 0;
}
.footer-nav__title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 30px;
  color: #212353;
}
@media screen and (max-width: 768px) {
  .footer-nav__title {
    text-align: center;
    margin: 20px;
  }
}
.footer-nav__list {
  list-style: none;
}
.footer-nav__item {
  margin-top: 10px;
}
.footer-nav__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  color: #4B5D68;
}
.footer-nav__link:hover {
  width: 50px;
  height: 50px;
  color: #8A40EE;
}

.media-icons {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .media-icons {
    justify-content: center;
  }
}
.media-icons__facebook:hover circle {
  stroke: #3B5998;
}
.media-icons__facebook:hover path {
  fill: #3B5998;
}
.media-icons__twitter:hover circle {
  stroke: #00ACEE;
}
.media-icons__twitter:hover path {
  fill: #00ACEE;
}
.media-icons__instagram:hover circle {
  stroke: #C13584;
}
.media-icons__instagram:hover path {
  fill: #C13584;
}

.icon {
  width: 50px;
  height: 50px;
}
.icon:hover circle {
  opacity: 100%;
  fill: #FFFFFF;
}

.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  color: #212353;
}/*# sourceMappingURL=style.css.map */