* body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

.container {
  width: 1440px;
  margin: 0 auto;
}

/* ------------------------------------------ HEADER ------------------------------------------ */

.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #BDBDBD;
  justify-content: center;
}

.heder_logo {
  margin-right: 206px;
}

/* ------------------------------------------ menu header + footer ------------------------------------------ */

.menu {
  display: flex;
}

.menu_item {
  margin-left: 30px;
}
.menu_item:first-child {
  margin-left: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3C3C3C;
}
a:hover {
  color: #18B5DC;
}

.header_button {
  text-transform: uppercase;
  padding: 10px 19.5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
  border: 1px solid #3C3C3C;
  background-color: #fff;
  margin-left: 246px;
}
.header_button:hover {
  color: #fff;
  background: #18B5DC;
  border: 1px solid #18B5DC;
}


/* ------------------------------------------ MAIN ------------------------------------------ */

.main {
  padding: 150px 0;
  background: #F6F6F6;
}

.main_section {
  margin: 0 auto;
  max-width: 1170px;
}

.main_section_top {
  margin: 0 auto;
  max-width: 570px;
  text-align: center;
}

.main_section_title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #3C3C3C;
}

.main_section_line {
  margin-top: 20px;
  width: 45px;
  height: 4px;
  border: none;
  background: #DDDBDB;
}

.main_section_subtitle {
  margin-top: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #3C3C3C;
}

/* ------------------------------------------ block s kartochkami ------------------------------------------ */

.main_people {
  margin: 60px auto 0;
  max-width: 1170px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.card_box {
  min-width: 270px;
  min-height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  background: url(../img/team_item1.png);
  background-repeat: no-repeat;
}
.card1:hover {
  background-image: none; 
  background-color: #18B5DC;
}

.card2 {
  background: url(../img/team_item2.png);
  background-repeat: no-repeat;
}
.card2:hover {
  background-image: none; 
  background-color: #18B5DC;
}

.card3 {
  background: url(../img/team_item3.png);
  background-repeat: no-repeat;
}
.card3:hover {
  background-image: none; 
  background-color: #18B5DC;
}

.card4 {
  background: url(../img/team_item4.png);
  background-repeat: no-repeat;
}
.card4:hover {
  background-image: none; 
  background-color: #18B5DC;
}

.card_button {
  width: 42px;
  height: 42px;
  background-color: #5DCBE6;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
  margin-left: 4px;
  padding: 0;
}
.card_button:first-child {
  margin-left: 0;
}

.btn_twitter {
  background-image: url(../ikon/twitter.png);
}
.btn_twitter:hover {
  background-image: url(../ikon/twitter_white.png);
  background-color: #fff;
}

.btn_facebook {
  background-image: url(../ikon/facebook.png);
}
.btn_facebook:hover {
  background-image: url(../ikon/facebook_white.png);
  background-color: #fff;
}

.btn_instagram {
  background-image: url(../ikon/instagram.png);
}
.btn_instagram:hover {
  background-image: url(../ikon/instagram_white.png);
  background-color: #fff;
}

.card_box:hover .card_button {
  visibility: visible;

}

.card_box_name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
}

.card_box_job {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #646464;
}


/* ----------------------------------------- FOOTER ------------------------------------------ */


.footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer_menu {
  margin: 28px 0;
}

.footer_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_button_icon {
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-left: 10px;
}
.footer_button_view:first-child {
  margin-left: 0;
}

.footer_twitter {
  background-image: url(../ikon/twitter_white.png);
  border: 1px solid #18B5DC;
}
.footer_twitter:hover {
  background-image: url(../ikon/twitter.png);
}

.footer_facebook {
  background-image: url(../ikon/facebook_white.png);
  border: 1px solid #18B5DC;
}
.footer_facebook:hover {
  background-image: url(../ikon/facebook.png);
}

.footer_instagram {
  background-image: url(../ikon/instagram_white.png);
  border: 1px solid #18B5DC;
}
.footer_instagram:hover {
  background-image: url(../ikon/instagram.png);
}

.footer_linkedin {
  background-image: url(../ikon/linkedin_white.png);
}
.footer_linkedin:hover {
  background-image: url(../ikon/linkedin.png);
}

.footer_telegram {
  background-image: url(../ikon/telegram_white.png);
}
.footer_telegram:hover {
  background-image: url(../ikon/telegram.png);
}


