.header {

    &__container {
        @include container;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 44px 0px;
    }

    &__logo {
        width: 142px;
		height: 12px;
}

    &__menu{
        display: flex;
    }

}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 84px;
    gap: 42px;

    &__list {
        font-family: "Lato";
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3em;
        text-transform: uppercase;

       /*  display: inline-block;
		position: relative;

		transition: scale 0.3s linear;

        &::after {
			content: '';
			position: absolute;
			margin-top: 5px;
			display: inline-block;
			right: 16%;
			left: 16%;
			bottom: -4px;
			height: 1px;
			background-color: $black;
			transform: scale(0);

			transition: all 0.2s linear;
		}
        &:active {
			color: $black;

			&::after {
				transform: scale(1);
			}
		} */
        

    }

    &__item {
        text-decoration: none;
        color: $black;
    }
}
